
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<div class="container">
    <h1>Error</h1>
    <h2>Oops... something went wrong ☹</h2>
</div>

<hr class="upper-line">

<div class="container">
    <p>
        Please, go to the main page or select suitable category
    </p>
</div>

<hr class="lower-line">
