@{
    Layout = "~/Views/Shared/MainLayout.cshtml";
    ViewBag.Title = "Contact information";
    ViewBag.Css = "/Content/Contact.css";
}



<section>
    <div class="container">
        <article>
            <h1 class="main-head">Contact information:</h1>
            <hr class="upper-line">
            <div class="contact-wrap">
                <div class="contact">
                    <div class="telephone-numbers">
                        <h3>Telephone numbers:</h3>
                        <ul class="number-list">
                            <li class="number">+38 (058) 228-13-666</li>
                            <li class="number">+38 (058) 133-70-228</li>
                            <li class="number">+38 (058) 000-10-911</li>
                            <li class="number">+38 (058) 911-69-696</li>
                        </ul>
                    </div>
                    <div class="business-hours">
                        <h3>Business hours:</h3>
                        <ul>
                            <li>8.30-17.00 (except weekends)</li>
                        </ul>
                    </div>
                    <div class="adress">
                        <h3>Adress:</h3>
                        <p>Yuvilejnyj Ave, 53B,<br/> Kharkiv, Kharkivs'ka oblast, 61000</p>
                    </div>
                    <div class="mail">
                        <h3>Mail adress:</h3>
                        <ul>
                            <li>sch58@kharkivosvita.net.ua</li>
                            <li>stas_sc58@ukr.net</li>
                            <li>nikolay_ka4ok@polandmail.com</li>
                        </ul>
                    </div>
                </div>
                <div class="map">
                    <div class="mapouter">
                        <div class="gmap_canvas">
                            <iframe width="400" height="400" id="gmap_canvas"
                                    src="https://maps.google.com/maps?q=%D0%BF%D1%80%D0%BE%D1%81%D0%BF.%20%D0%AE%D0%B1%D0%B8%D0%BB%D0%B5%D0%B9%D0%BD%D1%8B%D0%B9%2C%2053%D0%91%2C%20%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2%2C%20%D0%A5%D0%B0%D1%80%D1%8C%D0%BA%D0%BE%D0%B2%D1%81%D0%BA%D0%B0%D1%8F%20%D0%BE%D0%B1%D0%BB%D0%B0%D1%81%D1%82%D1%8C%2C%2061000&t=k&z=17&ie=UTF8&iwloc=&output=embed"
                                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="lower-line">
        </article>
    </div>
</section>
