@model WebApplication2.Models.DOMAINModel.Entities.Cart
        @if (Model.TotalItems == 0)
        {
            <p>Your cart is empty</p>
            <p>Add something to your cart</p>
        }
        else
        {
            <p>In cart: @Model.TotalItems</p>
            <p>Total price: @Model.TotalPrice</p>
            using (Ajax.BeginForm("OpenCart", "Cart", new AjaxOptions
            {
                UpdateTargetId = "main-cart-inner",
                OnSuccess = "mainCartOpen"
            }))
            {
                <input type="submit" value="Open cart" id="btn-open">
            }
        }